@using ConferencesProject.Helpers
@model IEnumerable<ConferencesProject.Models.Conference>

@{
    ViewBag.Title = "Home";
}



@Html.AsyncPartial("Conferences", "_IndexCarousel")

<h2>All Conferences List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Country)
            </td>

            <td>
                @Html.ActionLink("See talks", "SeeTalks", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Participating users", "SeeUsers", new { id = item.Id }) |
                @Html.ActionLink("SignUp", "SignUp", new { id = item.Id })
            </td>
        </tr>
    }
    


</table>

<script> @Html.Raw(TempData["script"]) </script>
