@model IEnumerable<ConferencesProject.Models.Talk>

@{
    ViewBag.Title = "Talks list";
}

<h2>All talks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abstract)
        </th>
        <th>
            Conference name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr class="TalksListItem">
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Abstract)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Conference.Name)
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
